{% extends "layout.html" %}
{% block body %}
<div id="admin" href="#admin">
    <div class="row">
        <h1> Super Secret Admin Controls </h1>
    </div>
    <div class="row">
</h4><i> Last 5 Orders </i></h4>
<ul>
    {% for order in order_list %}
    <li>{{ order.flavor }}</li>
    {% endfor %}
</ul>
    </div>
    <div class="row">
        <form>
            Wireless Networks:
            <div class="input-field">
                <select id="wireless">
                </select>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">vpn_key</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Password</label>
            </div>
        </form>
    </div>
    <div class="row">
        <h2> Credit Card Handling </h2>
        <hr>
    </div>
    <div class="row">
        <h2> Flavor Status </h2>
        <hr>
    </div>
    <div class="row">
        <h2> Configure Flavors Here </h2>
    </div>
    <div class="row">
        <a id="go" style="margin: auto;" class="waves-effect waves-light btn-large" href="/"><i class="material-icons left">whatshot</i>Leave Admin Mode</a>
    </div>
</div>
{% endblock %}
