{% extends "layout.html" %}
{% block body %}
<div id="blending" href="#blending"> <!-- During Blend Page -->
    <div class="row">
        <div>
            <img src="{{ url_for('static', filename='assets/icons_detox_fit.png') }}" />
        </div>
        <div>
            <img src="{{ url_for('static', filename='assets/icons_energy_fit.png') }}" />
        </div>
        <div>
            <img src="{{ url_for('static', filename='assets/icons_electrolytes_fit.png') }}" />
        </div>
    </div>
    <div class="row">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
