{% extends "layout.html" %}
{% block body %}
<div id="start" href="#start"> <!-- Start Page -->
    <div class="row"><!-- Main Self Serve Row -->
        <div class="col s7"><img src="{{ url_for('static', filename='assets/icon_cup_smaller.png')}}" /></div><!-- Cup Logo -->
        <div class="col s5"><h2> Self Serve </h2><h4> by Blendtec </h4></div><!-- SelfServe By Blendtec -->
    </div>
    <br>
    <br>
    <div class="divider"></div>
    <br>
    <br>
    <div class="row"><!-- 3x4 Sponsor Grid -->
        <img src="{{ url_for('static',filename='assets/product_icons.png') }}" />
    </div>
    <br>
    <br>
    <div class="divider"></div>
    <br>
    <br>
    <div class="row"> <!-- Start Blending Button -->
        <center>
            <a style="margin: auto;" class="waves-effect waves-light btn-large" href="/selection"><i class="material-icons left">whatshot</i>Start Blending!</a>
        </center>
    </div>
</div>
{% endblock %}
