<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" media="screen,projection"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Blendtec Smoothie Machine</title>
    </head>

    <body>
        <a class="btn-floating waves-effect waves-light grey right" href="/admin"><i class="material-icons">settings</i></a>
        <!-- Main Container -->
        <div class="container barba-wrapper">
            <!-- Rotating Carousel -->
            <div class="barba-container">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/barba.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/TweenMax.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>
