{% extends "layout.html" %}
{% block body %}
<div id="selection" href="#select"> <!-- Selection Page -->
                    <div class="row"><!-- Fill Your Cup and Cup with graphics -->
                        <center>
                            <h2> Fill Your Cup </h2>
                            <img src="{{ url_for('static', filename='assets/icon_cup_larger.png') }}" />
                            <hr>
                            <h3> Select Ingredients </h3>
                        </center>
                    </div>
                    <div class="row"> <!-- Ingredient Selection -->
                        <h4> Individual </h4>
                        <div class="col s2"><img src="{{ url_for('static', filename='assets/icon_cup_banana.png') }}" /></div>
                        <div class="col s2"><img src="{{ url_for('static', filename='assets/icon_cup_watermelon.png') }}" /></div>
                        <div class="col s2"><img src="{{ url_for('static', filename='assets/icon_cup_mango.png') }}" /></div>
                        <div class="col s2"><img src="{{ url_for('static', filename='assets/icon_cup_strawberry.png') }}" /></div>
                        <div class="col s2"><img src="{{ url_for('static', filename='assets/icon_cup_pineapple.png') }}" /></div>
                    </div>
                    <div class="row"> <!-- Pre-Blends -->

                    </div>
                    <div class="row"> <!-- Controls -->
                        <div class="col s4">
                            <a class="waves-effect waves-light btn-large"><i class="material-icons left">autorenew</i>Reset</a>
                        </div>
                        <div class="col s4">
                            <a style="margin: auto;" class="waves-effect waves-light btn-large" onclick="sendrecipe()"><i class="material-icons left">whatshot</i>Start Blending!</a>
                        </div>
                        <div class="col s4">
                            <a class="waves-effect waves-light btn-large"><i class="material-icons left">block</i>Cancel</a>
                        </div>
                    </div>
                </div>
{% endblock %}
